.btn-container {
    display: flex;
    justify-content: center; /* Center buttons horizontally */
    gap: 10px; /* Space between buttons */
    margin-top: 20px;
}

.delete-btn,
.cancel-btn {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    transition: background-color 0.3s, transform 0.2s;
    margin: 0 5px; /* Space between buttons */
}

.submit-btn:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

.cancel-btn {
    background: #857d7d;
    color: #fff;
}

.delete-btn {
    background: #f44336;
    color: #fff;
}

.cancel-btn:hover {
    background: #e53935;
}

/* Responsive Design */
@media (max-width: 600px) {
    .form-card {
        max-width: 90%;
        padding: 10px;
    }

    .btn-container {
        flex-direction: column;
        gap: 5px;
    }

    .btn {
        width: 100%;
    }
}
